<div class="row">
    <h1>exQUIZit</h1>
</div>
<div class="row subject" *ngFor="let subject of subjects">
    <div type="button" class="btn btn-info" (click)="toggle(subject.type, subject.key)">
        <div>{{subject.title}}</div>
        <div *ngIf="type==subject.type && key==subject.key">
            <div class="description" [innerHTML]="subject.description"></div>
            <button *ngIf="type==subject.type && key==subject.key" type="button" class="btn btn-dark" [routerLink]="['/', subject.type, subject.key, 1]">LET'S A GO!</button>
        </div>
    </div>
</div>