body, html {
    color: #fff;
    height: 100%;
}

.bg {    
  position: relative;
}

.bg::after {
    content: "";
    background-image: url("assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.btn {
    border-radius: 5;
    display: block;
    font-weight: bold;
    margin: 0 auto;
}

.btn-dark {
    font-size: 1.7em;
    padding: 10px 20px;
}

.info {
    font-size: 0.7em;
}

.row img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.row audio, .row iframe {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.red {
    background-color: #dc3545;
}

.blue {
    background-color: #007bff;
}

.yellow {
    background-color: #ffc107;
    color: #000;
}

.green {
    background-color: #28a745;
}

.answered {
    background-color: #6c757d;
    color: #fff;
}

.option {
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
    min-height: 100px;
    padding: 10px;
    text-align: justify;
}